:root {
  --color-dark: #12122e80;
  --color-primary: #2869a5;
  --color-primary-hover: #538ec5;
  --color-line: #0084ff;
  --color-text: white;
}
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background-image: linear-gradient(
      45deg,
      rgba(58, 58, 158, 0.8),
      rgba(42, 42, 107, 0.7)
    ),
    url(https://cdn.pixabay.com/photo/2017/07/31/11/21/people-2557396_960_720.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

#main {
  color: var(--color-text);
  padding: 1em;
  width: 100%;
  height: 100vh;
}

#main p {
  text-align: center;
}
#main h1 {
  text-align: center;
}

#survey-form {
  display: flex;
  flex-direction: column;
  background: var(--color-dark);
  padding: 2em;
  width: 500px;
  color: var(--color-text);
  margin: auto;
}
#survey-form label {
  margin-top: 5px;
  margin-bottom: 5px;
}
#survey-form input {
  padding: 5px;
  font-size: 12pt;
  border-radius: 5px;

}
#survey-form select {
  padding: 5px;
  font-size: 12pt;
  border-radius: 5px;
}
#survey-form input:focus {
  outline-color: var(--color-line);
}
#survey-form textarea{
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
  "Lucida Sans", Arial, sans-serif;
  padding: 5px;
  font-size: 12pt;
  border-radius: 5px;
}


#recommends-container div {
  margin-top: 5px;
  margin-bottom: 5px;
}
#improvements-container div {
  margin-top: 5px;
  margin-bottom: 5px;
}

.btn {
  background-color: var(--color-primary);
  color: var(--color-text);
  border-color: var(--color-primary);
}
.btn:hover {
  cursor: pointer;
  background-color: var(--color-primary-hover);
  border-color: var(--color-primary-hover);
}
.btn-large {
  width: 100%;
  height: 40px;
}

.mt-5 {
  margin-top: 5px;
}
.mb-5 {
  margin-bottom: 5px;
}
